body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input{
  background-color: aliceblue;
}
button{
  border-radius: 4px;
  background-color: rgb(50, 100, 84);
  color:white;
}
.message{
  margin-top: 3px;
  width:150px;
  background-color: dimgray;
  color: azure;
}
